{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row justify-content-center mt-5">

        <div class="col-sm-12 col-md-5 col-lg-3 p-5 "><div class="overflow-hidden d-inline-block rounded-circle"><a href="#"><img src="static/school_vector.jpg" class="zoom img-thumbnail rounded-circle img-fluid" ></a></div>
        <blockquote class="blockquote mt-3">
        <p class="mb-0 ">school <br>something abc</p>
        <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
      </blockquote>
        </div>
        <div class="col-sm-12 col-md-5 col-lg-3 p-5"><div class="overflow-hidden d-inline-block rounded-circle"><a href="#"><img src="static/work_vector.png" class="zoom img-thumbnail  rounded-circle img-fluid" ></a></div>
        <blockquote class="blockquote mt-3">
        <p class="mb-0 ">school <br>something abc</p>
        <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
      </blockquote>
        </div>
        <div class="col-sm-12 col-md-5 col-lg-3 p-5"><div class="overflow-hidden d-inline-block rounded-circle"><a href="#"><img src="static/hobby_vector.jpg" class="zoom img-thumbnail  rounded-circle img-fluid" ></a></div>
        <blockquote class="blockquote mt-3">
        <p class="mb-0 ">school <br>something abc</p>
        <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
      </blockquote>
        </div>
    </div>
</div>
{% endblock %}